@media (max-width: 909px) {
  .nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header-logo {
    width: 100%;
    max-width: 75px;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content {
    display: flex;
    align-items: center;
  }

  .about-content h4 {
    display: none;
  }
  .main-contact {
    flex-direction: column;
  }
  .build {
    flex-direction: column;
    align-items: center;
  }

  .cart {
    max-width: 90%;
  }

  .cart {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 845px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-content {
    align-items: center;
  }
  .main-content h1 {
    text-align: center;
    line-height: 35px;
  }

  .main-content p {
    display: none;
  }
  .icon {
    display: none;
  }
  .main-img img {
    width: 100%;
    max-width: 340px;
  }
  .btn-main button {
    font-size: 12px;
    padding: 10px 35px;
  }

  .introduction-content {
    justify-content: center;
  }
  .introduction-content h4 {
    text-align: center;
  }

  .introduction-content p {
    display: none;
  }

  .all {
    display: block;
  }

  #c-main {
    display: none;
  }
  .next-adaptiv {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
  }

  .main-contact {
    display: none;
  }

  .about {
    flex-direction: column;
  }
  .about-main {
    flex-direction: column;
  }

  .about-next-contnent p {
    display: none;
  }
  .about-next {
    flex-direction: column;
  }
  .about-next img {
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about-content img {
    display: none;
  }
  .about-main p {
    display: none;
  }
  .about-next .h {
    display: none;
  }
  .about-next-contnent {
    align-items: center;
  }
  .about-next-contnent button {
    width: 200px;
    height: 30px;
  }
  .main-content p {
    line-height: 25px;
    max-width: 450px;
    font-size: clamp(0.875rem, 0.833rem + 0.21vw, 1rem);
  }

  .main-contact img {
    max-width: 40px;
  }

  .why {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .why-content h2 img {
    display: none;
  }

  .why .loremm p {
    display: none;
  }
  .why-content img {
    display: none;
  }
  .cart:nth-child(2) {
    display: none;
  }
  .cart:nth-child(3) {
    display: none;
  }
  .cart:nth-child(4) {
    display: none;
  }
}
