@media (max-width: 909px) {
  .nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header-logo {
    width: 100%;
    max-width: 75px;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content {
    display: flex;
    align-items: center;
  }

  .about-content h4 {
    display: none;
  }

  .build {
    align-items: center;
  }

  .cart {
    max-width: 90%;
  }

  .cart {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 845px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-content {
    align-items: center;
  }
  .main-content h1 {
    text-align: center;
    line-height: 35px;
  }

  .main-content p {
    display: none;
  }
  .icon {
    display: none;
  }
  .main-img img {
    width: 100%;
    max-width: 340px;
  }
  .btn-main button {
    font-size: 12px;
    padding: 10px 35px;
  }

  .introduction-content {
    justify-content: center;
  }
  .introduction-content h4 {
    text-align: center;
  }

  .introduction-content p {
    display: none;
  }

  .all {
    display: block;
  }

  #c-main {
    display: none;
  }
  .next-adaptiv {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
  }

  .main-contact {
    display: none;
  }

  .about {
    flex-direction: column;
  }
  .about-main {
    flex-direction: column;
  }

  .about-next {
    flex-direction: column;
  }
  .about-next img {
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about-content img {
    display: none;
  }
  .about-main p {
    display: none;
  }
  .about-next .h {
    display: none;
  }
  .about-next-contnent {
    align-items: center;
  }
  .about-next-contnent button {
    width: 200px;
  }
  .main-content p {
    line-height: 25px;
    max-width: 450px;
    font-size: clamp(0.875rem, 0.833rem + 0.21vw, 1rem);
  }

  .main-contact img {
    max-width: 40px;
  }

  .why {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .why-content h2 img {
    display: none;
  }

  .vr-content h2 img {
    display: none;
  }

  .why .loremm p {
    display: none;
  }
  .build {
    justify-content: center;
    align-items: center;
  }
  .cart:nth-child(2) {
    display: none;
  }
  .img:nth-child(3) {
    display: none;
  }
  .img {
    width: 100%;
    max-width: 140px;
  }
  /* .hardware-content .icon {
  display: flex;
  top: 0px;
  right: 153px;
  
}  */
  .hardware .hardware-img {
    justify-content: center;
    align-items: center;
  }
  #vr {
    padding-top: 250px;
  }

  .vr {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .why-content h2 img {
    display: none;
  }

  .vr .lorenn p {
    display: none;
  }
  .step:nth-child(2) {
    display: none;
  }
  .design-content {
    justify-content: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
  }
  .footer-content .wow {
    display: none;
  }
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo img {
    width: 100%;
    max-width: 130px;
  }
}

@media (max-width: 716px) {
  .hardware-content {
    border-radius: 290px;
    background: url("../image/woman.svg");
  }
}
@media (max-width: 820px) {
  .hardware-content {
    width: 100%;
    height: 270px;
  }
  .hardware-content h1 {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 796px) {
  .hardware-content h1 {
    align-items: center;
  }
}

@media (max-width: 1158px) {
  .hardware-content .icons {
    top: 69px;
  }
}
@media (max-width: 1060px) {
  .hardware-content .icons {
    top: 72px;
  }
}
@media (max-width: 990px) {
  .hardware-content .icons {
    top: 86px;
  }

  .hardware-content h1 {
    justify-content: center;
  }
}
@media (max-width: 990px) {
  .hardware-content .icons {
    top: 86px;
  }
}
@media (max-width: 820px) {
  .hardware-content .icons {
    top: 62px;
  }
}

@media (max-width: 792px) {
  .hardware-content .icons {
    top: 67px;
  }
}
@media (max-width: 768px) {
  .hardware-content .icons {
    top: 63px;
  }
}

@media (max-width: 686px) {
  .hardware-content .icons {
    top: 73px;
  }
}

@media (max-width: 530px) {
  .hardware-content .icons {
    top: 85px;
  }
}
@media (max-width: 378px) {
  .hardware-content .icons {
    top: 85px;
  }
}

@media (max-width: 1165px) {
  .cart:nth-child(4) {
    display: none;
  }
  .cart {
    width: 100%;
    max-width: 300px;
  }
  .img:nth-child(1) {
    display: none;
  }
  .img {
    width: 100%;
    max-width: 230px;
  }
  .step:nth-child(4) {
    display: none;
  }

  .sitemap {
    display: none;
  }
  .footer span {
    display: none;
  }
}

@media (max-width: 983px) {
  .cart:nth-child(3) {
    display: none;
  }
  .cart {
    width: 100%;
    max-width: 300px;
  }
  .img:nth-child(2) {
    display: none;
  }
  .img {
    width: 100%;
    max-width: 180px;
  }
  .step:nth-child(3) {
    display: none;
  }
  .wow {
    display: flex;
  }
}
@media (max-width: 1100px) {
  .input {
    flex-direction: column;
  }
  .input2 input {
    max-width: 500px;
  }
  .input3 input {
    width: 500px;
  }
  .how button {
    width: 200px;
    height: 40px;
  }
}
