* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 40px;
  margin-inline: auto;
  @media (max-width: 500px) {
    padding-inline: 20px;
  }
}

body {
  background-color: #302c42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: clamp(1.75rem, 1.591rem + 0.8vw, 2.188rem);
  color: #fff;
}

h1 span {
  background: rgb(184, 175, 225);
  background: linear-gradient(
    90deg,
    rgba(184, 175, 225, 1) 24%,
    rgba(129, 119, 175, 1) 42%,
    rgba(153, 144, 197, 1) 71%
  );
  color: transparent;
  background-clip: text;
}

button {
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
}

#header {
  padding-block: 20px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.header-logo img {
  width: 100%;
  max-width: 80px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav a {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  color: #fff;
  display: flex;
  align-items: center;
}

nav a:focus {
  font-weight: 600;
}

.header-btn {
  display: flex;
  gap: 20px;
}

.header-btn button:nth-child(1) {
  padding: 12px 35px;
  background-color: #302c42;
  border-radius: 30px;
  border: 2px solid #ffffff;
  font-weight: 700;
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  color: #fff;
}

.header-btn button:nth-child(2) {
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 11px 35px;
  border-radius: 30px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #343045;
  /* background: rgb(141, 131, 186);
  background: linear-gradient(
    90deg,
    rgba(141, 131, 186, 1) 41%,
    rgba(171, 161, 213, 1) 61%
  ); */
}

.burger-menu {
  display: none;
}

.burger-menu ion-icon {
  font-size: clamp(1.25rem, 1.104rem + 0.73vw, 1.688rem);
}

/* ? MAIN START */
#main {
  padding-block: 70px;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.main-content {
  width: 100%;
  max-width: 470px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.main-content h1 {
  font-size: clamp(1.188rem, 0.778rem + 2.05vw, 2.313rem);
  /* font-size: clamp(1.125rem, 0.739rem + 1.93vw, 2.188rem); */
  /* font-size: clamp(1.625rem, 1.42rem + 1.02vw, 2.188rem); */
  font-weight: 700;
  line-height: 45px;
}
.main-content h1 span {
  font-size: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
  /* font-size: clamp(1.313rem, 0.881rem + 2.16vw, 2.5rem); */
  /* font-size: clamp(1.625rem, 1.42rem + 1.02vw, 2.188rem); */
  font-weight: 700;
}

.main-content p {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #fff;
  font-weight: 300;
  line-height: 25px;
}

.btn-main {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn-main button {
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 13px 40px;
  border-radius: 30px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #343045;
}

.main-img {
  display: flex;
  justify-content: flex-end;
}
.main-img img {
  width: 100%;
  max-width: 450px;
}

#c-main {
  padding-top: 45px;
}

.main-contact {
  width: 100%;
  padding: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(41, 37, 59);
  background: linear-gradient(
    90deg,
    rgba(41, 37, 59, 1) 22%,
    rgba(57, 51, 84, 1) 54%,
    rgba(41, 37, 59, 1) 87%
  );
}

.main-contact {
  display: flex;
  gap: 20px;
}
.main-contact img {
  width: 100%;
  max-width: 60px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact h2 {
  color: #fff;
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
}

.contact p {
  color: #fffffff6;
  font-weight: 300;
  font-size: clamp(0.563rem, 0.494rem + 0.34vw, 0.75rem);
  /* font-size: clamp(0.625rem, 0.58rem + 0.23vw, 0.75rem); */
}

.main-contact span {
  color: white;
  border-left: 0.1px solid #4f4969;
  font-size: 60px;
}
.btn-main button {
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 13px 40px;
  border-radius: 30px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #343045;
}

.btn-main .icon ion-icon {
  font-size: 45px;
  color: #c0b7e8;
}

/* ? MAIN START */

/* ? ALL START */

.all {
  padding-block: 30px;
  display: none;
}
.next-adaptiv {
  width: 100%;
  display: none;
  justify-content: space-between;
  padding: 28px;
  border-radius: 100px;
  background: rgb(59, 54, 84);
  background: radial-gradient(
    circle,
    rgba(59, 54, 84, 1) 22%,
    rgba(58, 53, 82, 1) 24%,
    rgba(32, 30, 45, 1) 67%
  );
}

.next-adaptiv p {
  font-size: clamp(0.75rem, 0.708rem + 0.21vw, 0.875rem);
  font-weight: 400;
}
.next-adaptiv img {
  max-width: 25px;
}
.next-adaptiv ion-icon {
  font-size: 35px;
  color: white;
}
/* ? ALL END */

/* ? INTRODUCTION START
#introduction {
  padding-block: 100px;
}

.introduction-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.introduction-content h4 {
  font-size: clamp(1.125rem, 0.898rem + 1.14vw, 1.75rem);
  line-height: 45px;
  display: flex;
  flex-direction: column;
}

.introduction-content h4 span {
  font-size: clamp(1.063rem, 0.835rem + 1.14vw, 1.688rem);
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 20px;
}

.introduction-content h4 span ion-icon {
  font-size: 40px;
}

.introduction-content p {
  width: 100%;
  max-width: 650px;
  line-height: 23px;
  color: #ffffffdf;
  font-weight: 300;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
} */

/* ? INTRODUCTION END */

/* ? ABOUT START */

.about-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.about-content h1 {
  font-weight: 600;
  font-size: clamp(1.625rem, 1.417rem + 1.04vw, 2.25rem);
  line-height: 60px;
}
.about-content h2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 200;
  font-size: clamp(1.625rem, 1.417rem + 1.04vw, 2.25rem);
}
.about-content img {
  max-width: 100px;
}

.lorem {
  max-width: 652px;
}

.lorem p {
  line-height: 25px;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  color: #fff;
}
.about-next {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.about-next img {
  max-width: 424px;
}
.about-next-contnent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.about-next-contnent h1 {
  font-size: clamp(1.625rem, 1.417rem + 1.04vw, 2.25rem);
  line-height: 45px;
  font-weight: 600;
}
.about-next-contnent h2 {
  font-weight: 200;
  font-size: clamp(1.625rem, 1.417rem + 1.04vw, 2.25rem);
}
.about-next-contnent p {
  line-height: 25px;
  max-width: 630px;
  color: #fff;
  font-weight: 300;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
}
.about-next-contnent button {
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 13px 40px;
  border-radius: 30px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #343045;
}

/* ? ABOUT END */

/* ? WHY BUILD START */
#why {
  padding-block: 20px;
}
.why {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why-content h1 {
  font-weight: 600;
  font-size: clamp(1.625rem, 1.417rem + 1.04vw, 2.25rem);
  line-height: 50px;
}
.why-content h2 {
  display: flex;

  gap: 20px;
  font-weight: 200;
  font-size: clamp(1.625rem, 1.417rem + 1.04vw, 2.25rem);
}
.why-content img {
  max-width: 100px;
}
.loremm {
  max-width: 652px;
}
.loremm p {
  line-height: 25px;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  color: #fff;
}

/* ? WHY BUILD  END */

/* ?  BUILD  START */

#build {
  padding-block: 40px;
}

.build {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cart {
  width: 100%;
  max-width: 500px;
  padding: 20px 35px;
  border-radius: 40px;
  background: rgb(59, 54, 84);
  background: radial-gradient(
    circle,
    rgba(59, 54, 84, 1) 22%,
    rgba(58, 53, 82, 1) 24%,
    rgba(32, 30, 45, 1) 67%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cart span {
  color: #615b7c;
}

.cart img {
  width: 100%;
  max-width: 120px;
  border-radius: 70px;
}

.cart p {
  width: 100%;
  max-width: 300px;
  padding: 5px;
  font-size: clamp(0.469rem, 0.412rem + 0.28vw, 0.625rem);
  line-height: 18px;
  color: #fff;
}

.build .cart .background {
  width: 160px;
  height: 160px;
  background: #242131;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70%;
}

.cart button {
  font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
  font-weight: 700;
  padding: 13px 40px;
  border-radius: 30px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #343045;
}
/* ?  BUILD  END */

/* ?  HARDWARE START */
#hardware {
  padding-block: 40px;
}

.hardware-content {
  width: 100%;
  height: 300px;
  border-radius: 250px;
  background: url("../image/woman.svg");
}
.hardware-content h1 {
  padding: 110px;
  font-weight: 700;
  font-size: clamp(0.438rem, -0.199rem + 3.18vw, 2.188rem);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.hardware-content h1 p {
  font-weight: 250;
}

.hardware-content .icons {
  background-color: #201e29;
  width: 60px;
  height: 60px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 62px;
}

.hardware-content ion-icon {
  font-size: 30px;
  padding: 7px;
  border-radius: 40px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #433d60;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hardware .hardware-img {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.hardware .hardware-img {
  width: 100%;
  display: flex;
  gap: 20px;
}

.hardware .img img {
  width: 100%;
  max-width: 250px;
}

/* ? icon */

.hardware-content .icon {
  background-color: #201e29;
  width: 60px;
  height: 60px;
  border-radius: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 62px;
}

.hardware-content .icon ion-icon {
  font-size: 30px;
  padding: 7px;
  border-radius: 40px;
  background: rgb(135, 125, 181);
  background: linear-gradient(
    90deg,
    rgba(135, 125, 181, 1) 26%,
    rgba(160, 150, 203, 1) 67%,
    rgba(187, 178, 227, 1) 100%
  );
  color: #433d60;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ? icon */

/* ?  HARDWARE  END */
